/* Import font */
@import url('fonts.css');

/* body */
body {
    font-family: 'TCM', sans-serif;
}

/* Active */
.active {
    border-bottom: 3px solid white;
}

/* Navbar */
.navbar {
    background-color: rgb(0, 100, 0) !important;
}
.navbar-brand {
    font-size: 2.7em;
    font-weight: 600;
    color: rgb(9, 214, 9) !important;
}

.navbar-brand span {
    color: orange;
}

.nav-item {
    margin-right: 2rem;
}

.nav-link {
    font-size: 18px;
    color: white !important;
    transition: .3s;
}

.nav-link:hover {
    border-bottom: 3px solid white;
    margin: auto;
    margin-bottom: -4px;
}

.navbar-toggler {
    background-color: orange !important;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar .akunCart {
    display: flex;
}

.navbar .akunCart a {
    color: white;
    margin-right: 15px;
    font-size: 15px;
}


/* Slider */
.slider-1 {
    background-image: url(../img/Capture.PNG);
    height: 600px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.slider-2 {
    background-image: url(../img/bg_2.jpg);
    height: 600px;
    background-size: cover;
}

.slider-3 {
    background-image: url(../img/bg_3.jpg);
    height: 600px;
    background-size: cover;
}

.slider-1 .teks-utama {
    margin-top: 200px;
    font-size: 46px;
    color: whitesmoke;
    font-weight: 600;
    position: relative;
    z-index: 3;
}

.slider-1 p {
    font-size: 16px;
    color: rgb(224, 224, 224);
    position: relative;
    z-index: 3;
}

.slider-1 .btn.btn-success {
    background-color: rgb(11, 184, 11) !important;
    width: 110px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    position: relative;
    z-index: 3;
    margin-right: 5px;
}

.slider-1 .btn.btn-warning {
    background-color: orange !important;
    width: 110px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    color: white;
    position: relative;
    z-index: 3;
}

.slider-1::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 128, 0, 0.750);
    z-index: 2;
}

.buah {
    color: orange;
}

.sayur {
    color: rgb(9, 214, 9);
}

.slider-1 .petani-1 {
    position: absolute;
    z-index: 3;
    top: 100px;
}

.slider-2::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 128, 0, 0.750);
}

.slider-2 .teks-utama {
    margin-top: 200px;
    font-size: 46px;
    color: whitesmoke;
    font-weight: 600;
    position: relative;
    z-index: 3;
}

.slider-2 p {
    font-size: 16px;
    color: rgb(224, 224, 224);
    position: relative;
    z-index: 3;
}

.slider-2 .btn.btn-warning {
    background-color: orange !important;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    position: relative;
    z-index: 3;
    margin-right: 5px;
    color: white;
}

.slider-2 .buah-sayur {
    position: absolute;
    bottom: -180px;
    left: -120px;
    width: 800px;
    z-index: 3;
}

.slider-3 {
    background-image: url(../img/petani-2.jpg);
    background-size: cover;
    height: 600px;
    background-position-y: -130px;
}

.slider-3::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 128, 0, 0.750);
}

.slider-3 .teks-utama {
    font-size: 46px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
    margin-top: 200px;
    line-height: 50px;
    font-weight: 600;
}

.slider-3 p {
    font-size: 16px;
    color: rgb(224, 224, 224);
    position: relative;
    z-index: 3;
    color: #f5f5f0;
    margin-top: -10px;
}

.slider-3 .garis {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    margin-top: 10px;
}

.slider-3 .btn.btn-success {
    position: relative;
    z-index: 3;
    background-color: rgb(11, 184, 11) !important;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
}


/* Services */
.services {
    margin-top: 100px;
    position: relative;
}

.services .judul {
    text-align: center;
    font-family: 'Nexa', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    z-index: 2;
    color: white;
    margin-top: -60px;
}

.services .garis {
    height: 3px;
    width: 80px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -10px;
    position: relative;
    z-index: 2;
}

.services p {
    font-family: 'Nexa', sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    color: whitesmoke;
}

.services .content img {
    width: 100px;
    position: relative;
    z-index: 2;
}

.services .kotak-1, .kotak-2, .kotak-3 {
    border-radius: 10px;
    padding: 13px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
    background-color: white;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.services .content .teks {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    font-family: 'Monserrat', sans-serif;
    position: relative;
    z-index: 2;
}

.services::after {
    content: '';
    display: block;
    width: 100%;
    height: 220px;
    position: absolute;
    top: -104px;
    background-color: rgb(0, 114, 0);
    z-index: 1;
}


/* About */
.about {
    margin-top: 100px;
}

.about .judul {
    font-family: 'Nexa', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(15, 15, 15);
}

.about .garis {
    width: 130px;
    height: 4px;
    background-color: orange;
    position: absolute;
    left: 20px;
}

.about .petani-3 {
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .8);
}


.about .content {
    margin-top: 40px;
}

.about .icon {
    width: 30px;
    margin-right: 10px;
}

.about .content .teks {
    font-weight: 500;
    font-size: 15px;
    font-family: 'Nexa', sans-serif;
}


/* Testimonial */
.owl-item{
    border: none;
}

.testimonial {
    background-image: url('../img/Capture.PNG');
    padding: 30px;
    background-size: cover;
    margin-top: 150px;
    -webkit-background-attachement: fixed;
    background-attachment: fixed;
    position: relative;
}

.testimonial::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 128, 0, 0.750);
}

.testimonial .judul {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 38px;
    font-family: 'Nexa', sans-serif;
    font-weight: 500;
}

.testimonial .garis {
    height: 5px;
    border-radius: 20px;
    width: 70px;
    background-color: white;
    position: relative;
    z-index: 1;
    margin: auto;
}

.testimonial .card {
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    position: relative;
    padding-left: 20px;
    width: 300px;
    height: 250px;
}

.testimonial .owl-carousel {
    margin-top: 60px;
}

.testimonial .card .foto {
    width: 70px;
    height: 70px;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    left: 0;
    top: -30px;
    z-index: 10;
}

.testimonial .card .fa-quote-right {
    font-size: 40px;
    color: white;
    position: absolute;
    right: 28px;
    top: 10px;
}

.testimonial .card p {
    font-size: 16px;
    font-style: italic;
    color: whitesmoke;
    margin-top: 70px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 100;
    text-align: left;
}

.testimonial .card .nama {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.testimonial .card .profesi {
    font-size: 12px;
    color: white;
    margin-top: -10px;
}

.testimonial .fa-angle-left, .testimonial .fa-angle-right {
    color: white;
}

.testimonial button:focus {
    outline: none;
}

.testimonial div.owl-nav {
    font-size: 30px;
    font-weight: 100;
    border: none;
}

.testimonial .owl-prev, .testimonial .owl-next {
    position: absolute;
}

.testimonial .owl-prev {
    top: 110px;
    left: -30px;
}

.testimonial .owl-next {
    top: 110px;
    right: -30px;
}


/* Blog */
.blog {
    margin-top: 100px;
    position: relative;
}

.blog::after {
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    position: absolute;
    background-color: rgb(0, 114, 0);
    top: -100px;
    z-index: -1;
}

.blog .judul {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 42px;
    color: white;
    font-family: 'Nexa', sans-serif;
}

.blog .garis {
    width: 70px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin: 5px auto 30px auto;
}

.blog .kotak {
    position: relative;
    z-index: 1;
    height: 260px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.blog .gambar img {
    width: 350px;
    transition: .7s;
}

.blog .gambar img:hover {
    transform: scale(1.1);
    box-shadow: -2px -2px 10px rgba(0, 0, 0, .6);
}

.blog .deksripsi-blog {
    width: 300px;
    height: 100px;
    background-color: green;
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 23px;
}

.blog .info-blog {
    justify-content: center;
}

.blog .info-blog .fas {
    margin-right: 3px;
    color: #f1f2f6;
    font-size: 12px;
    margin-left: 10px;
}

.blog .info-blog p{
    font-size: 12px;
    color: #f1f2f6;
    margin-right: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.blog .deksripsi-blog .judul {
    text-decoration: none;
}

.blog .deksripsi-blog .judul p {
    font-size: 20px;
    text-transform: none;
    color: white;
    font-family: 'Nexa', sans-serif;
    margin: 0 10px;
}


/* Footer */
footer {
    margin-top: 100px;
    background-color: rgb(1, 105, 1);
    padding-top: 50px;
}

footer .icon {
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin: 0 auto 10px auto ;
}

footer .icon .fas {
    color: white;
}

footer .teks {
    color: white;
    text-align: center;
    font-family: 'Nexa', sans-serif;
}

footer .garis {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

footer .links {
    margin-top: 20px;
}

footer .content {
    margin: auto;
    width: 70px;
}


footer h4 {
    color: white;
    font-family: sans-serif;
}

footer a {
    text-decoration: none;
    color: rgba(247, 247, 247, 0.664);
    display: block;
    font-size: 14px;
}

footer a:hover {
    color: white;
}

footer .support {
    margin-top: 20px;
}

footer .about {
    margin-top: 20px;
}

footer .about h1 {
    color: rgb(0, 187, 0);
    font-weight: 600;
}

footer .about h1 span {
    color: orange;
    font-weight: 600;
}

footer .about p {
    color: rgba(247, 247, 247, 0.664);
    font-size: 14px;
}

footer .kotak {
    background-color: rgb(0, 161, 0);
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
}

footer .social-media {
    margin: auto;
    margin-bottom: 25px;
}

footer .social-media a {
    display: inline-block;
}

footer .social-media i {
    color: rgb(197, 197, 197);
    border: 2px solid rgb(197, 197, 197);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    transition: .5s;
}

footer .social-media i:hover {
    color: white;
    border: 2px solid white;
}

footer .text-copyright {
    color: white;
    letter-spacing: 1.2px;
    font-size: 14px;
}

/* Scroll Atas */
.scrollAtas {
    background-color: orange;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: white;
    z-index: 10;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: .6s;
    display: none;
}

.scrollAtas:hover {
    color: white;
}



@media only screen and (max-width: 767px) { 
    /* Active */
    .navbar .active {
        background-color: #ffa500;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }
    /* Navbar */
    .navbar-brand {
        font-size: 2em;
    }

    .nav-link {
        font-size: 18px;
        text-align: center;
    }

    .nav-link:hover {
        background-color: orange;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

    .navbar .akunCart {
        justify-content: center;
    }

    .navbar .akunCart .akun, .navbar .akunCart .cart {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .navbar .akunCart .akun {
        background-color: rgb(9, 214, 9);
    }

    .navbar .akunCart .cart {
        background-color: orange;
    }

    /* Slider */
    .slider-1 {
        height: 500px;
    }

    .slider-1 .petani-1 {
        display: none;
    }

    .slider-1 .teks-utama {
        font-size: 34px;
        margin-top: 100px;
    }

    .slider-1 p {
        font-size: 16px;
    }

    .slider-2 {
        height: 500px;
    }

    .slider-2 .buah-sayur {
        display: none;
    }

    .slider-2 .teks-utama {
        font-size: 34px;
        margin-top: 100px;
    }

    .slider-2 .btn.btn-warning {
        font-size: 14px;
    }

    .slider-2 p {
        font-size: 16px;
    }

    .slider-2 .btn.btn-warning {
        width: 120px;
    }

    .slider-3 {
        height: 500px;
        background-position-y: 0;
    }

    .slider-3 .teks-utama {
        font-size: 34px;
        margin-top: 30px;
    }

    .slider-3 .p {
        font-size: 16px;
    }

    /* Services */
    .services .kotak-1, .kotak-2, .kotak-3 {
        margin-bottom: 20px !important;
    }

    .services .judul {
        font-size: 32px;
    }

    .services .garis {
        width: 50px;
        margin-top: 5px;
    }

    /* About */
    .about {
        margin-top: 100px;
    }
    .about .judul {
        font-size: 28px;
        margin-top: 20px;
    }

    .about .petani-3 {
        width: 290px;
        margin: auto;
    }

    .about .content .teks {
        font-size: 12px;
    }


    /* Testimonial */
    .testimonial {
        margin-top: 70px;
    }
    .testimonial .judul {
        font-size: 32px;
    }

    .testimonial .card {
        width: 230px;
        height: 245px;
    }

    .testimonial .card .fa-quote-right {
        font-size: 35px;
    }

    .testimonial .card p {
        font-size: 14px;
        font-weight: 500;
        color: white;
    }

    .testimonial .owl-prev {
        top: 100px;
        left: -10px;
    }
    
    .testimonial .owl-next {
        top: 100px;
        right: -10px;
    }

    /* Blog */
    .blog {
        margin-top: 80px;
    }
    .blog .kotak {
        height: 230px;
        width: 290px;
        margin: 10px auto;
    }
    .blog .judul {
        font-size: 32px;
    }

    .blog .gambar img {
        width: 285px;
        position: relative;
    }

    .blog .deksripsi-blog {
        left: 24px;
        width: 240px;
        height: 90px;
    }

    .blog .info-blog p {
        font-size: 8px;
    }

    .blog .deksripsi-blog .judul p {
        font-size: 16px;
    }

    /* Footer */
    footer .contact-us {
        margin-bottom: 20px;
    }

    footer .contact-us .teks {
        font-size: 12px;
    }

    footer h4, footer a {
        text-align: center;
    }

    footer .about h1, footer .about span, footer .about p {
        text-align: center;
    }

    footer .about h1, footer .about span {
        font-size: 32px;
    }


    /* Scroll Atas */
    .scrollAtas {
        width: 40px;
        height: 40px;
        line-height: 40px;
        bottom: 20px;
        right: 10px;
    }

    .scrollAtas:hover {
        color: white;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991px) { 
     /* Active */
     .navbar .active {
        background-color: orange;
        border: none;
        padding: 10px;
    }

    .nav-link {
        text-align: center;
    }

    /* Navbar */
    .nav-link:hover {
        background-color: orange;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

    .navbar .akunCart {
        justify-content: center;
    }

    .navbar .akunCart .akun, .navbar .akunCart .cart {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .navbar .akunCart .akun {
        background-color: rgb(9, 214, 9);
    }

    .navbar .akunCart .cart {
        background-color: orange;
    }

    /* Slider */
    .slider-1 .petani-1 {
        display: none;
    }

    .slider-1 .teks-utama {
        margin-top: 120px;
    }

    .slider-2 .buah-sayur {
        display: none;
    }

    .slider-2 .teks-utama {
        margin-top: 150px;
    }

    .slider-3 {
        background-position-y: 0;
        background-repeat: no-repeat;
    }

    .slider-3 .teks-utama {
        margin-top: 150px;
    }

    /* Services */
    .services .content .kotak-1,
    .services .content .kotak-2,
    .services .content .kotak-3 {
        width: 230px;
    }

    .services .content {
        flex-direction: row;
    }


    /* About */
    .about {
        margin-top: 100px;
    }
    .about .content .judul {
        font-size: 34px;
    }

    .about .petani-3 {
        width: 500px;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    /* Testimonial */
    .testimonial .card p {
        color: white;
    }

    /* Blog */
    .blog .deksripsi-blog {
        left: 195px;
    }
 }


 @media only screen and (min-width: 992px) and (max-width: 1200px) { 
     /* Slider */
     .slider-2 .buah-sayur {
         width: 700px;
     }

     .slider-3 {
        background-position-y: 0;
    }

    .slider-3 .teks-utama {
        margin-top: 220px;
    }

    /* Services */
    .services .kotak-1, .kotak-2, .kotak-3 {
        margin-right: 10px;
    }

    /* About */
    .about .judul {
        font-size: 34px;
    }

    .about .petani-3 {
        width: 400px;
    }

    /* Blog */
    .blog .kotak {
        height: 230px;
    }
    .blog .gambar img {
        width: 280px;
    }

    .blog .deksripsi-blog {
        width: 250px;
        height: 90px;
    }

    .blog .info-blog p {
        font-size: 10px;
    }

    .blog .deksripsi-blog .judul p {
        font-size: 18px;
    }
  }